
.btn {

    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    border-radius: 50px;
    border: solid 4px white;
    background-color:unset;
  }

  .btn2 {
    color: #9EC23B;
    border-radius: 50px;
    border: solid 4px #9EC23B;
    background-color:unset;
  }

  .btn3 {
    color: #9EC23B;
    border-radius: 50px;
    border: solid 4px white;
    background-color:white;
  }


/* .border{
      border: white solid 10px;
} */

.header .navbar {
    background-color: transparent !important;
}

.imagen{
    position: relative;
    margin-top: -72px;
    /* bottom: 72px; */
    z-index: 1;

}

.derecha{
  position: relative;
  bottom: 200px;
}

.imagen2{
    /* margin-top: 170px;
    z-index: -10;
    position: relative;
    bottom: 480px;
    border-radius: 100px;
    right: -30px; */
    background: url('../img/explora2.png');
    width: 500px;
    padding: 200px;
    position: relative;
    bottom: 500px;
    left: 200px;
    border-radius: 100px;
    height: 500px;

}

.botones{
    z-index: 3;
}

.abajo{
    position: relative;
    top: 90px;
    right: 170px;
}
